.plans {
    padding: 5.6vw;

    h2 {
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: space-around;

        &__item {
            text-align: center;
            padding: 44px 44px 16px;

            img {
                height: 320px;
                border-radius: 100%;
            }
    
            strong {
                display: block;
            }

            button {
                margin-top: 16px;
            }
        }
    }

    p {
        text-align: center;
    }
}